/* Modal.css */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.modal-content {
   background: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   position: relative;
}

.confirm-button,
.cancel-button {
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 7px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.confirm-button {
   background-color: #d9534f;
   color: white;
}

.cancel-button {
   background-color: #5bc0de;
   color: white;
}

.close-icon {
   width: 24px; /* Added SVG styling */
   height: 24px;
   margin-right: 8px;
   cursor: pointer;
   fill: #d9534f;
   float: right;
   align-items: baseline;
}

.modal-header {
   display: flex;
   justify-content: space-between; /* Added to justify the icon to the right */
   align-items: center;
   margin-top: 12px;
   margin-bottom: 8px;
}
